.feature-section__title--hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.feature-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.feature-list:last-child {
  margin-bottom: 60px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 94px;
  }
}
.feature-list__item {
  @media screen and (min-width: 768px) {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 8 * 15px) / 4);
  }
}
.feature-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: var(--button-color);
  border-radius: 4px;
}
.feature-card__icon {
}
.feature-card__title {
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.feature-card__text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
