.footer {
  padding-top: 60px;
  background-color: var(--bg-color);
  min-height: 252px;
  margin-left: auto;
  margin-right: auto;
}
.footer-main {
  text-align: center;
}
.logo {
}

.logo__link {
}
.logo__link--footer {
  padding-top: 0;
  padding-bottom: 0;
}
.logo__span--main {
}
.logo__span--light {
  color: var(--white-color);
}
.address {
}
.address__list {
  margin-top: 20px;
}
.address__item {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--white-color);
  font-style: normal;

  &:last-child {
    margin-bottom: 0;
  }
}
.address__link {
  color: var(--white-opacity);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  transition: color var(--transition-duration) var(--cubic-bezier);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.footer-socials {
  margin-top: 60px;
  text-align: center;
}
.footer-socials__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}
.footer-socials__list {
  display: flex;
  height: 44px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.footer-socials__item {
}
.footer-socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: var(--icon-opacity);
  border-radius: 50%;

  transition: background-color var(--transition-duration) var(--cubic-bezier);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    outline: none;
  }
}
.footer-socials__icon {
  fill: var(--white-color);
}
.footer-subscribe {
  margin-top: 60px;
  text-align: center;
}
.footer-form {
}
.footer-form__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}
.footer-form__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-bottom: 60px;
}
.footer-form__input {
  width: 100%;
  margin-top: 20px;
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15)); */
  border-radius: 4px;
  outline: none;
  background-color: var(--bg-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: var(--white-opacity);
}
.footer-form__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-left: 28px;
  padding-right: 28px;
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  transition: background-color var(--transition-duration) var(--cubic-bezier);

  &:hover,
  &:focus {
    background-color: var(--hero-button);
  }
}
.footer-form__icon {
}
