.header {
  border-bottom: 1px solid var(--header-line);
}
.nav {
}
.logo {
}
.logo__link {
  display: inline-flex;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.logo__span--main {
  color: var(--accent-color);
}
.logo__span--dark {
  color: var(--secondary-color);
}
.nav-mobile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 60px;
}
.nav-list {
  display: flex;
  gap: 50px;
  margin-left: auto;
  margin-right: auto;
}
.nav-list__item {
  margin-bottom: 32px;
}

.nav-list__item:last-child {
  margin-bottom: 0;
}

.nav-list__link {
  padding-top: 20px;
  padding-bottom: 33px;
  color: var(--primary-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  transition: color var(--transition-duration) var(--cubic-bezier);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.nav-list__link--current {
  position: relative;
  color: var(--accent-color);

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;

    // @media screen and (max-width: 768px) {
    //   display: none;
    // }
  }
}
// .contacts-list.menu {
//   @media screen and (min-width: 768px) and (max-width: 1200px) {
//     display: block;
//   }
// }

.contacts-list {
  display: flex;
  gap: 30px;
}
.contacts-list__item {
  margin-top: 32px;
}
.contacts-list__link {
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 33px;
  color: var(--brand-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;

  transition: color var(--transition-duration) var(--cubic-bezier);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  &:hover .contacts-list__icon,
  &:focus .contacts-list__icon {
    fill: var(--accent-color);
  }
}
.contacts-list__icon {
  margin-right: 10px;
  fill: var(--brand-color);

  transition: fill var(--transition-duration) var(--cubic-bezier);

  // @media screen and (max-width: 480px) {
  //   display: none;
  // }
}
.contacts-list__text-tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.contacts-list__text-email {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--brand-color);
}
