.section {
}
.hero-section {
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  min-width: 480px;
  min-height: 400px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;

  background-color: var(--bg-color);

  background-image: linear-gradient(
      to left,
      var(--hero-gradient),
      var(--hero-gradient)
    ),
    url("../images/0img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to left,
        var(--hero-gradient),
        var(--hero-gradient)
      ),
      url("../images/0img@2x.jpg");
  }
}
.hero-section__title {
  width: 360px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}

.hero-section__btn {
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 24px;
  color: var(--white-color);
  background-color: var(--accent-color);
  border: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;

  transition: background-color var(--transition-duration) var(--cubic-bezier);

  &:hover,
  &:focus {
    background-color: var(--hero-button);
  }
}
