.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 95px 15px;
  background-color: var(--backdrop-color);

  opacity: 1;
  transition: opacity var(--transition-duration) var(--cubic-bezier);
  overflow-y: scroll;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  opacity: 0;
  transform: translate(-50%, -50%) scale(1.1);
}
.modal {
  position: relative;
  //   width: 450px;
  //   height: 609px;
  padding: 40px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  opacity: 1;
  transition: transform var(--transition-duration) var(--cubic-bezier),
    opacity var(--transition-duration) var(--cubic-bezier);

  @media screen and (min-width: 768px) {
    position: absolute;
    overflow: visible;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);

    max-width: 450px;
    width: 100%;
  }
}
.modal__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  margin-left: auto;
  display: flex;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: var(--white-color);
  border: 1px solid var(--border-color);
  border-radius: 50%;
  transition: border var(--transition-duration) var(--cubic-bezier),
    background-color var(--transition-duration) var(--cubic-bezier);

  &:hover .modal__close-icon,
  &:focus .modal__close-icon {
    fill: var(--accent-color);
  }
}
.modal__close-icon {
  fill: #000000;

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}
.modal__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-color);
}
.modal-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.modal-form__box {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.modal-form__label {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
}
.modal-form__field {
  position: relative;
}
.modal-form__input {
  width: 100%;
  height: 40px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 42px;
  padding-right: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border var(--transition-duration) var(--cubic-bezier);

  &:focus {
    border: 1px solid var(--accent-color);
    outline: none;
  }
  &:focus + .modal-form__icon {
    fill: var(--accent-color);
  }
}
.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: var(--primary-color);
  transition: fill var(--transition-duration) var(--cubic-bezier);
}
.modal-form__textarea {
  resize: none;
  height: 120px;
  padding: 12px 16px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border var(--transition-duration) var(--cubic-bezier);

  &:focus {
    border: 1px solid var(--accent-color);
    outline: none;
  }
  &::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}
.checkbox {
}
.checkbox__label {
  position: relative;
  //   display: flex;
  //   justify-content: center;
  //   text-align: center;
  margin-top: 20px;
  cursor: pointer;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.checkbox__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  cursor: pointer;

  &:checked ~ .checkbox__icon {
    border: none;
    background-image: url(../images/checked.png);
    background-size: contain;
    background-origin: border-box;
  }
}
.checkbox__text {
  display: inline-block;
  padding-left: 24px;
}
.checkbox__link {
  color: var(--accent-color);
  text-decoration: underline;
}
.checkbox__icon {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-color);
  border-radius: 2px;
}
.modal-form__btn {
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  color: var(--white-color);
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding: 10px 52px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;

  transition: background-color var(--transition-duration) var(--cubic-bezier);

  &:hover,
  &:focus {
    background-color: var(--hero-button);
  }
}
