.occupation-section {
    padding-top: 0;
}
.occupation-section__title {
    text-align: center;
    margin-bottom: 50px;
    color: var(--primary-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}
.occupation-list {
    display: flex;
    gap: 30px;
}
.occupation-card {
    position: relative;
}
.occupation-card__text {
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    height: 70px;
    justify-content: center;
    align-items: center;
    background-color: var(--occupation-gradient);

    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-color);
}
